[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "lib/Arduino-Queue.h"]
	path = lib/Arduino-Queue.h
	url = git@github.com:sdesalas/Arduino-Queue.h.git
